In [5]:
import pandas as pd
df = pd.read_csv("data1.csv")
df

        day  tem  windspeed  event
0  1/1/2022   32          6   rain
1  1/2/2022   45          7  sunny
2  1/3/2022   25          2   snow
3  1/4/2022   30          7   snow
4  1/5/2022   32          6  sunny
5  1/6/2022   45          5  sunny
6  1/7/2022   28          2   snow
7  1/8/2022   15          3   rain
8  1/9/2022   32          7   rain

In [13]:

programing_year = {
    'name' : ['c','python','php'],
    'year' :['2017','2018','2019'],
    'czz' : ['learning','robotice','web development']
}
dId = pd.DataFrame(programing_year)
dId

     name  year              czz
0       c  2017         learning
1  python  2018         robotice
2     php  2019  web development

In [15]:
dId.shape

(3, 3)

In [20]:
row, columns = df.shape

In [21]:
row

9

In [22]:
columns

4

In [25]:
df.head(5)

        day  tem  windspeed  event
0  1/1/2022   32          6   rain
1  1/2/2022   45          7  sunny
2  1/3/2022   25          2   snow
3  1/4/2022   30          7   snow
4  1/5/2022   32          6  sunny

In [26]:
df.tail(2)

        day  tem  windspeed event
7  1/8/2022   15          3  rain
8  1/9/2022   32          7  rain

In [27]:
df[2:5]

        day  tem  windspeed  event
2  1/3/2022   25          2   snow
3  1/4/2022   30          7   snow
4  1/5/2022   32          6  sunny

In [29]:
df.columns

Index(['day', 'tem', 'windspeed', 'event'], dtype='object')

In [30]:
df['event']

0     rain
1    sunny
2     snow
3     snow
4    sunny
5    sunny
6     snow
7     rain
8     rain
Name: event, dtype: object

In [31]:
type(df['event'])

pandas.core.series.Series

In [32]:
df[['day','event']]

        day  event
0  1/1/2022   rain
1  1/2/2022  sunny
2  1/3/2022   snow
3  1/4/2022   snow
4  1/5/2022  sunny
5  1/6/2022  sunny
6  1/7/2022   snow
7  1/8/2022   rain
8  1/9/2022   rain

In [35]:
df['tem'].max()

45

In [36]:
df['tem'].mean()

31.555555555555557

In [37]:
df['tem'].min()

15

In [38]:
df['tem'].std()

9.31545907498808

In [39]:
df.describe()

             tem  windspeed
count   9.000000    9.00000
mean   31.555556    5.00000
std     9.315459    2.12132
min    15.000000    2.00000
25%    28.000000    3.00000
50%    32.000000    6.00000
75%    32.000000    7.00000
max    45.000000    7.00000

In [43]:
df[df.tem>=32]

        day  tem  windspeed  event
0  1/1/2022   32          6   rain
1  1/2/2022   45          7  sunny
4  1/5/2022   32          6  sunny
5  1/6/2022   45          5  sunny
8  1/9/2022   32          7   rain

In [44]:
df[df.tem==df.tem.max()]

        day  tem  windspeed  event
1  1/2/2022   45          7  sunny
5  1/6/2022   45          5  sunny

In [45]:
df[df.tem==32]

        day  tem  windspeed  event
0  1/1/2022   32          6   rain
4  1/5/2022   32          6  sunny
8  1/9/2022   32          7   rain

In [50]:
df[['tem','day']][df.event=='rain']

   tem       day
0   32  1/1/2022
7   15  1/8/2022
8   32  1/9/2022

In [51]:
df.index

RangeIndex(start=0, stop=9, step=1)

In [52]:
df

        day  tem  windspeed  event
0  1/1/2022   32          6   rain
1  1/2/2022   45          7  sunny
2  1/3/2022   25          2   snow
3  1/4/2022   30          7   snow
4  1/5/2022   32          6  sunny
5  1/6/2022   45          5  sunny
6  1/7/2022   28          2   snow
7  1/8/2022   15          3   rain
8  1/9/2022   32          7   rain

In [53]:
df.set_index('day')

          tem  windspeed  event
day
1/1/2022   32          6   rain
1/2/2022   45          7  sunny
1/3/2022   25          2   snow
1/4/2022   30          7   snow
1/5/2022   32          6  sunny
1/6/2022   45          5  sunny
1/7/2022   28          2   snow
1/8/2022   15          3   rain
1/9/2022   32          7   rain

In [54]:
df

        day  tem  windspeed  event
0  1/1/2022   32          6   rain
1  1/2/2022   45          7  sunny
2  1/3/2022   25          2   snow
3  1/4/2022   30          7   snow
4  1/5/2022   32          6  sunny
5  1/6/2022   45          5  sunny
6  1/7/2022   28          2   snow
7  1/8/2022   15          3   rain
8  1/9/2022   32          7   rain

In [55]:
df.set_index('day', inplace=True)

In [56]:
df

          tem  windspeed  event
day
1/1/2022   32          6   rain
1/2/2022   45          7  sunny
1/3/2022   25          2   snow
1/4/2022   30          7   snow
1/5/2022   32          6  sunny
1/6/2022   45          5  sunny
1/7/2022   28          2   snow
1/8/2022   15          3   rain
1/9/2022   32          7   rain

In [57]:
df.loc['1/7/2022']

tem            28
windspeed       2
event        snow
Name: 1/7/2022, dtype: object

In [61]:
df.reset_index(inplace=True)
df

        day  tem  windspeed  event
0  1/1/2022   32          6   rain
1  1/2/2022   45          7  sunny
2  1/3/2022   25          2   snow
3  1/4/2022   30          7   snow
4  1/5/2022   32          6  sunny
5  1/6/2022   45          5  sunny
6  1/7/2022   28          2   snow
7  1/8/2022   15          3   rain
8  1/9/2022   32          7   rain

In [79]:
df.set_index('event', inplace=True)
df

            day  tem  windspeed
event
rain   1/1/2022   32          6
sunny  1/2/2022   45          7
snow   1/3/2022   25          2
snow   1/4/2022   30          7
sunny  1/5/2022   32          6
sunny  1/6/2022   45          5
snow   1/7/2022   28          2
rain   1/8/2022   15          3
rain   1/9/2022   32          7

In [81]:
df.loc['rain']

            day  tem  windspeed
event
rain   1/1/2022   32          6
rain   1/8/2022   15          3
rain   1/9/2022   32          7

In [6]:
df = pd.read_excel("data1.xlsx")
df

         day  tem  windspeed  event
0 2022-01-01   32          6   rain
1 2022-01-02   45          7  sunny
2 2022-01-03   25          2   snow
3 2022-01-04   30          7   snow
4 2022-01-05   32          6  sunny
5 2022-01-06   45          5  sunny
6 2022-01-07   28          2   snow
7 2022-01-08   15          3   rain
8 2022-01-09   32          7   rain